html {
	background-color: #000;
}

body {
	
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

img {
	width: 100%;
}

img .indxh1 {
	animation: expand 2s ease-in-out 0s infinite
}

@keyframes expand {
	from 
	height: 0%;
	to
	height: 100%; 
}

section {
	text-align: center;
}

#main {
	background-color: red;
	width: 100%;
	height: 130px;
	margin: auto;
	text-align: center;
}

h1 {
	font-size: 75px;
	font-weight: normal;
	padding: 60px 0 15px 0;
	text-align: center;
	color: #ffd88e;
	text-transform: uppercase;
	text-shadow: 5px 5px 5px #333; 
}



/* h1 animation */
#muxh1 {
    width: 100%;
    height: 10px;
    -webkit-animation: indx 5s 1; /* Chrome, Safari, Opera */
    -webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
    animation: indx 5s 1;
    animation-delay: 2s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes indx {
    50% {font-size: 100px;}
}

/* Standard syntax */
@keyframes indx {
    50% {font-size: 100px;}
}

#indxh2 {
	animation: fadeAndScale 3s cubic-bezier(0,1.07,.72,1.42);
	transform-origin: center bottom; 
}

@keyframes fadeAndScale {
	from{
		opacity: 0;
		transform: scale3d(.25, .25, 1);
	}
	to {
		opacity: 1;
		transform: scale3d(1, 1, 1);
	}
}


h3 {
	text-align: center;
	text-transform: uppercase;
}

article {
	padding: 17px;
	margin: 0 auto; 
	background-color: #e0e0e0;
}

.about {
	padding: 17px;
	margin: 0 auto; 
	background-color: #e0e0e0;
	transform-style: preserve-3d;
	transform: perspective(800px); 
}

.about h2 {
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 400;
	color: red;
}

.about h2, .about p {
	transition: all 0.8s ease;
}

.about.hidden h2 {
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(-40deg);
}

.about.hidden p {
	opacity: 0;
	transform: translate3d(0, 0, 400px) rotateY(40deg);
}

footer {
	text-align: center;
	color: white;
	font-size: 0.75em;
	font-style: italic;
	padding-top: 5px;
}

.menu {
	padding-top: 0px;
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	padding-bottom: 5px; 
	font-size: 20px;
}

a:link, a:visited {
	display: block;
	width: 120px;
	font-weight: bold;
	color: white;
	background: black;
	text-align: center;
	padding: 4px;
	text-decoration: none;
	text-transform: uppercase;
	float: left;
	height: 40px;

}

a:hover, a:active {
	color: #ff5c5c;
}

table {
	width: 100%;
	table-layout: fixed;
}

td {
	vertical-align: top;
	padding: 10px 0px 0px 50px;
}

iframe {
	border: 0;
	width: 100%;
	height: 350px;
}

a.hypelnk {
	display: inline;
	font-weight: 100;
	color: blue;
	background: white;
	padding: 0px;
	text-decoration: underline;
	text-transform: none;
	float: none;
}

span {
	color: red;
	font-size: 1.15em;
	text-transform: uppercase;
}