html {
	background-color: #000;
}

body {
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5em;
}

img {
	width: 100%;
}

section {
	text-align: center;
}

h1 {
	text-align: center;
	color: #ffd88e;
	text-transform: uppercase;
	padding-top: 20px;
}

h2 {
	color: red;
	text-transform: uppercase;
}

h3 {
	text-align: center;
	text-transform: uppercase;
}